#title{
  background-image: url(../img/backgroundsbundle/Whangaehu.png);
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#title h1{
  font-size: 25vw;
  line-height: 100vh;
}
main{
  margin: 50px auto;
}

/* 
.filter{
margin: 20px 0;   

}

.filter h3{
  margin-bottom: 5px;
}

.filter button{
  background-color: transparent;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s background-color, 0.3s color;
  margin: 0 5px;
}
.filter button:first-child{
  margin-left: 0;
}

.filter button.active{
  background-color: #fff;
  color: rgb(6, 6, 61);
}
.container {
overflow: hidden;
}

.filterDiv {
float: left;
background-color: #2f7a2f;
color: #120202;
width: 100px;
text-align: center;
margin: 2px;
display: none;
}
.show {
  display: block;
} */


#eventsGrid{
  overflow: hidden;
}

#eventsGrid > div {
  float: left;
  width: calc(100% / 2 - 4px);
  box-sizing: border-box;
  margin: 2px;
  border-radius: 5px;
  text-align: left;
  position: relative;
  transition: 0.3s all;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  cursor: pointer;
}
#eventsGrid *{
  color: #000;
}
.eventCardImg{
  width: 20%;
  background-size: cover;
  background-position: center;
  border-radius: 5px 0 0 5px;
}
.eventCardContent{
  padding: 20px;
  width: 80%;
}
.eventCardDate{
  color: rgb(214, 70, 17)!important;
  font-weight: 600;
  text-transform: uppercase;
}
.eventCardTitle{
  margin: 5px 0 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eventCardType{
  background-color: rgb(214, 70, 17);
  color: #fff!important;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  #eventsGrid > div {
    width: 100%;
    margin: 2px 0;
  }
}#eventModal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  padding-top: 50px;
  animation: fadein 0.3s ease-in-out forwards;
}
#closeEventModal{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}
#eventModal .modalContent{
  width: 90%;
  max-width: 600px;
  margin: auto;
  max-height: calc(100vh - 100px);
  background-color: #fff;
  border-radius: 20px;
  overflow: auto;
  animation: growin 0.3s ease-in-out forwards;
}
@keyframes growin{
  0%{
    transform: scale(0.5);
    translate: 0 500px;
  }
  100%{
    transform: scale(1);
    translate: 0 0;
  }
}
#eventModal .modalDescription{
  white-space: pre-line;
}
#eventModal .modalImg{
  border-radius: 20px 20px 0 0;
  padding-top: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#eventModal .modalImg img{
  display: none;
  width: 100%;
}
#eventModal .imagesButtons{
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
}
#eventModal .imagesButtons button{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  cursor: pointer;
  transition: 0.3s all;
}
#eventModal .imagesButtons button.active{
  background-color: #fff;
  width: 15px;
  height: 15px;
}
#eventModal .modalDetails{
  padding: 20px;
}
#eventModal .modalDetails *{
  color: #000;
}
#eventModal .modalHeading{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#eventModal .modalDate, 
#eventModal .modalPlace{
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 10px 0;
}
#eventModal .modalDate span, 
#eventModal .modalPlace span{
  vertical-align: bottom;
  font-size: 40px;
  margin-right: 15px;
}
#eventModal .modalDate,
#eventModal .modalDate span{
  color: #3F51B5;
}
#eventModal .modalPlace,
#eventModal .modalPlace span{
  color: #009688;
}
#eventModal .modalChips{
  text-align: center;
  margin: 10px 0;
  font-size: 0.8em;
}
#eventModal .modalType,
#eventModal .modalAudience{
  color: #fff!important;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
}
#eventModal .modalType{
  background-color: rgb(214, 70, 17);;
}
#eventModal .modalAudience{
  background-color: #E91E63;
}
#eventModal .modalTopic{
  border: 1px solid #333;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 20px;
  display: inline-block;
  margin: 0 2px;
}