#title {
    background-image: url(../img/backgroundsbundle/Whangaehu.png);
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #title h1 {
    font-size: 25vw;
    line-height: 100vh;
  }
  
  main {
    margin: 50px auto;
  }
  
  .filter {
    margin: 20px 0;
  }
  
  .filter h3 {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
  }
  .filter h3 span{
    color: #000;
    font-size: 30px;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
.filterButtons{
    padding: 0 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    display: none;
    animation: 0.3s slideDown forwards;
    display: none;
    overflow: hidden;
    max-height: 0;
}
@keyframes slideDown{
    0%{
        max-height: 0;
        padding: 0 10px;
    }
    50%{
      padding: 10px 10px;
    }
    100%{
        max-height: 1000px;
        padding: 10px 10px;
    }
}
  
  .filter button {
    background-color: transparent;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.3s background-color, 0.3s color;
    margin: 0 5px;
  }
  .filter button:first-child {
    margin-left: 0;
  }
  /* .filter button:hover, */
  .filter button.active {
    background-color: #fff;
    color: rgb(6, 6, 61);
  }
  .container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2f7a2f;
    color: #120202;
    width: 100px;
    /*line-height: 100px;*/
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  .show {
    display: block;
  }
  #container {
    display: flex;
    width: 100%;
  }
  .card_container {
    /* position: absolute; */
    /* justify-content: center; */
    min-width: 300px;
    padding: 0px 5px;
  }
  .card {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px auto;
  }
  
  /* @media only screen and (max-width: 700px){
      .card{
          display: block;
          width: calc(100% / 2 - 4px);
          min-width: min-content;
          margin-left: 0!important;
          margin-right: 0!important;
      }
  } */
  .card h2 {
    color: rgb(6, 6, 61);
    padding: 10px 10px 0 10px;
  }
  .card .difficultyTag {
    color: white;
    padding: 5px 10px;
    margin: 2px 2px 2px 0;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    float: left;
    width: fit-content;
  }
  .card .difficultyTag.Easy {
    background-color: #2f7a2f;
  }
  .card .difficultyTag.Medium {
    background-color: #ff9800;
  }
  .card .difficultyTag.Hard {
    background-color: #f70000;
  }
  .card .topicTag {
    color: #000;
    padding: 5px;
    margin: 2px;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    width: fit-content;
    float: left;
  }
  /* .card .topicTag span:first-child{
      margin-left: 0;
  } */
  .card a {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(6, 6, 61);
    color: white;
    text-decoration: none;
    transition: 0.3s background-color, 0.3s color;
  }
  /* .card a.openProblemBtn {
      margin-right: 5px; */
  /* .card a.resourcesBtn { */
  /* margin-left: 5px; */
  
  .card a:hover {
    background-color: white;
    color: rgb(6, 6, 61);
  }
  .material-symbols-sharp .resourcesBtn {
    color: blue;
  }
  .material-symbols-sharp .resourcesBtn:hover {
    color: rgb(106, 106, 199);
  }
  
  .cardButtons {
    display: flex;
  }
  
  .openResourcesBtn {
    width: 50px;
    background: #ffc107;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    cursor: pointer;
  }
  
  .openResourcesBtn span {
    color: #000;
  }
  .openResourcesBtn:hover {
    background: #e64a19;
  }
  .openResourcesBtn:hover span {
    color: #fff;
  }
  
  .cardTags {
    padding: 10px;
    display: block;
    overflow: hidden;
  }
  #resourcesModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    padding-top: 50px;
    animation: fadein 0.3s ease-in-out forwards;
  }
  #closeResourcesModal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
  }
  #resourcesModal .modalContent {
    width: 90%;
    max-width: 600px;
    margin: auto;
    max-height: calc(100vh - 100px);
    background-color: #fff;
    border-radius: 20px;
    overflow: auto;
    animation: growin 0.3s ease-in-out forwards;
  }
  @keyframes growin {
    0% {
      transform: scale(0.5);
      translate: 0 500px;
    }
    100% {
      transform: scale(1);
      translate: 0 0;
    }
  }
  
  #resourcesModal h1{
    color: #fff;
    padding: 50px 25px 25px 25px;
    background-image: url(../img/Backgrounds/Wairau.png);
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  #resourcesModal p{padding: 25px;color: #000;}