body{
    background: linear-gradient(#180834 0,
    #26032c)!important;
}
main{
    min-height: calc(100vh - 100px);
    text-align: center;
}
footer{
    margin: 0;
}
#profile-photo{
    display: block;
    margin: 100px auto 25px auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
#profile-name{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
#profile-batch{
    width: fit-content;
    padding: 3px 8px 3px 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0px auto 20px auto;
}
#profile-bio{
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}
#profile-links{
    margin: 20px 0;
}
#profile-links a{
    text-decoration: none;
    margin: 0 5px;
}
#profile-links a img{
    width: 36px;
    height: 36px;
}
#profile-links a span{
    vertical-align: top;
    background-color: #FFC107;
    color: #000;
    font-size: 26px;
    border-radius: 100%;
    padding: 5px;
}