body {
    margin: 0px;
    display: flex;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    transition: background 1s;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 2em;
}

.box {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.box.disabled {
    background-color: #e1e1e1;
    color: #2c3e50;
    pointer-events: none;
}

.box.disabledp {
    background-color: #949595;
    color: #f0f2f4;
    pointer-events: none;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
}

.index {
    position: absolute;
    bottom: -1.5em;
    font-size: 0.5em;
    font-weight: 100;
    color: #153d58;
}

.btn:hover {
    background-color: #27ae60;
}

.emsg {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    max-width: 24em;
    color: white;
}

.cmsg {
    background-color: darkslategray;
    align-self: flex-start;
}

.ymsg {
    background-color: #069446;
    align-self: flex-end;
}

.einfo {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: dimgray;
    align-self: center;
}

#explain {
    height: 100vh;
    width: 30em;
    background-color: rgb(224, 224, 224);
    display: none;
    flex-direction: column;
    border-left: 1px solid gray;
    margin-left: 2em;
}

#explainc {
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#explainc::-webkit-scrollbar {
    display: none;
}

#etitle {
    padding-left: 1em;
    margin: 0.5em;
    font-size: 2em;
    font-weight: bold;
}

#etitlebtn {
    border: none;
    background-color: #00000000;
    font-size: 1em;
    position: absolute;
    right: 1em;
    top: 0.35em;
    cursor: pointer;
    color: dimgray;
}

#eshowbtn {
    font-size: 2em;
    font-weight: bold;
    height: 3em;
    padding-right: 0.5em;
    border-radius: 0.7em 0em 0em 0.7em;
    position: absolute;
    right: 0;
    top: 3em;
    border: 1.5px solid gray;
    background-color: rgb(224, 224, 224);
    color: black;
    cursor: pointer;
    visibility: visible;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#confetti-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    display: none;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: gold;
    animation: fall 2s linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(100vh);
    }
}