@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

html {
  scroll-padding-top: 80px;
}

body {
  background-attachment: fixed;
}

#title {
  text-align: center;
  padding: 100px 0px 50px 0;
  min-height: 80vh;
  /* background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
  /* background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/algorithms/algofest_bg.png"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dbd-acm-logo {
  width: 500px;
}

#title span {
  font-size: 28px;
  margin: 20px 0 10px 0;
  font-weight: bold;
  text-shadow: 0px 0px 20px #333333;
}

#title h1 {
	font-family: "Playwrite US Modern", cursive;
  font-size: 120px;
  text-shadow: 0px 0px 20px #333333;
}

#title a {
  width: 100%;
}

#kiac-logo {
  width: 300px;
  box-shadow: 0 0 10px white;
}

@media only screen and (max-width: 1200px) {
	#title img {
		max-width: 50%;
	}

	#title span {
		font-size: 20px;
	}

	#title h1 {
		font-size: 60px;
	}
}

main {
	padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

main > div > h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	text-align: center;
}

@media only screen and (max-width: 900px) {
  main > div > h2 {
    font-size: 26px;
  }
}

/* Registration Link */

#register {
  width: 100%;
  font-size: 24px;
}

.register-button {
  border: 2px #ffffff solid;
  border-radius: 10px;
  padding: 5px 20px;
  height: 40px;
  width: fit-content;
  margin: 30px auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.register-button.disabled {
  border: 2px #666666 solid;
  cursor: not-allowed;
}

.register-button.disabled span {
  color: #666666;
}

.register-button .material-symbols-outline {
  line-height: 40px;
}

.register-button-icon {
  height: 25px;
}

.register-button-label {
  width: auto;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 40px;
  text-transform: uppercase;
  margin-left: 10px;

  letter-spacing: normal;
  transition: letter-spacing 0.2s;
}

/* .register-button:hover .register-button-label {
  letter-spacing: 1px;
} */

/* Event Schedule */

#schedule table {
	width: 100%;
	margin: 20px auto 0 auto;
	border-collapse: collapse;
}

#schedule th, #schedule td {
	background-color: #0d2232;
	text-align: center;
	font-size: 18px;
  line-height: 24px;
	border: solid 1px #fff;
	padding: 7px;
}

#schedule td a {
  text-decoration-thickness: 1px;
}

#schedule th {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

#schedule p {
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  #schedule th {
    font-size: 20px;
  }
  
  #schedule td {
    font-size: 16px;
  }
}

/* Presentation Information */

#presentations {
  margin-top: 50px;
}

.presentation {
  padding: 20px;
  margin: 20px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: box-shadow 0.2s;
}

.presentation:target {
  box-shadow: inset 0 0 10px #40a2d0;
}

.presentation > h2 {
	font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}

.presenters {
  margin-top: 10px;
}

.presenters > a:first-child, .presenters > span:first-child {
  margin-left: 0px;
}

.presenters > a, .presenters > span {
  font-style: italic;
  margin-left: 20px;
  transition: color 0.2s;
}

.presenters > a:hover {
  color: #40a2d0;
}

.presentation > p {
  margin-top: 20px;
  text-align: justify;
}